<form [formGroup]="userForm" ngSubmit="register(userForm)">
  <h3>Nouveau Utilisateur : </h3>
  <div>
    <mat-form-field>
      <input matInput
             placeholder="Addresse mail"
             formControlName="email"
             email required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput type="password"
             placeholder="Mot de passe"
             formControlName="password"
             required minlength="8" maxlength="16">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             placeholder="Prénom"
             formControlName="firstName"
             required minlength="4" [pattern]="'[a-zA-Z][a-zA-Z ]+'">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             placeholder="Nom"
             formControlName="familyName"
             required minlength="5">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             placeholder="Numéro de téléphone"
             formControlName="phone"
             required [pattern]="'[0-9]+'" minlength="9" maxlength="10">
    </mat-form-field>
  </div>

  <div>
    <button mat-flat-button (click)="register()" type="submit" [disabled]="!userForm.valid">Rechercher</button>
  </div>

</form>

<div class="alert alert-success" role="alert" *ngIf="successMessage">
  {{successMessage}}
</div>
