<form [formGroup]="loginForm" ngSubmit="register()" *ngIf="!authenticated">
  <h3>Login </h3>
  <div>
    <mat-form-field>
      <input matInput
             placeholder="Addresse mail"
             formControlName="username"
             email required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput type="password"
             placeholder="Mot de passe"
             formControlName="password"
             required minlength="8" maxlength="16">
    </mat-form-field>
  </div>

  <div>
    <button mat-flat-button (click)="login()" type="submit" [disabled]="!loginForm.valid">Login</button>
  </div>

</form>

<div class="alert alert-success" role="alert" *ngIf="successMessage">
  {{successMessage}}
</div>
